
@font-face {
  font-family: "Reglo";
  src: url('https://fonts.cdnfonts.com/s/19290/Reglo-Bold.woff');
}

@font-face {
  font-family: "Ubuntu";
  src: url("https://cdn.jsdelivr.net/fontsource/fonts/ubuntu@latest/latin-400-normal.woff2");
}

@font-face{
  font-family: "Nunito";
  src: url("https://cdn.jsdelivr.net/fontsource/fonts/nunito@latest/latin-400-normal.woff2");
}

body {
  font-family: "Nunito", sans-serif;
  /* body has natural padding so making main a different color isn't enough
    to cut across the whole screen. linear-gradient is used instead. */
  background-repeat: no-repeat;
  background: linear-gradient(to bottom,
              #ddb5c7 0%, #ddb5c7 120px,
              #f2dbda 120px, #f2dbda calc(100% - 95px), #ddb5c7 calc(100% - 95px), #ddb5c7 100%);    
  color: #47192d;
}

#headerUser {
  float: right;
  margin: 0px 10px;
  font-family: "Ubuntu", sans-serif;
}

#headerTitle {
  font-family: "Reglo", serif;
}

menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  font-weight: bold;
}

menu li {
  background-color: #c69fb1;
  border: #9e637e solid 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
  margin: 5px 8px;
}
menu li:hover {
  background-color: #f2dbda;
}

a {
  /* Gets rid of the browser formatting of the links */
  color: inherit;
  text-decoration: inherit;
}

.selected {
  border-bottom: #f2dbda solid 5px;
  background-color: #f2dbda;
}

#tabsDivider {
  border: #9e637e solid 3px;
  margin: -26px -8px 20px -8px;
} 

#gridWrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas: "player queue" ". upload";
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
@media (orientation: portrait) or (max-width: 925px) {
  #gridWrapper {
    grid-template-areas: "player" "queue" "upload";
    grid-template-columns: 1fr;
  }
}

.box {
  background-color: pink;
  border: red outset 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 90vw;
}

#player {
  grid-area: player;
  padding: 10px;
  /* Makes the box a square (1/1 ratio) */
  aspect-ratio: 1/1;
  max-width: 400px;
}

.songInfo {
  font-family: "Ubuntu", sans-serif;
}

.album {
  float: right;
  margin: 10px;
  border: #9e637e inset 5px;
}

#audioWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 40px 0px 0px 0px;
  gap: 25px 0px;
  justify-content: space-around;
  
}

#queue {
  grid-area: queue;
  max-height: 500px;
  max-width: 500px;

  /* Adds a scrollbar with overflow */
  overflow-y: auto;
  scrollbar-color: red pink;
  scrollbar-gutter: stable both-edges;
}

#queue h3 {
  text-align: center;
}

table {
  font-family: "Ubuntu", sans-serif;
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

tr {
  border: #9e637e inset 5px;
}

td {
  padding: 10px;
  background-color: #efbfd5;
}

button {
  background-color: #f2dbda;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border: #c69fb1 solid 3px;
  color: inherit;
}
button:hover {
  background-color: #ddb5c7;
}button:active {
  background-color: #c69fb1;
}

#songUpload {
  grid-area: upload;
}

button.upload {
  padding: 10px;
  background-color: #efbfd5;
  border: #9e637e solid 5px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: inherit;
}
button.upload:hover {
  background-color: #ddb5c7;
}
button.upload:active {
  background-color: #c69fb1;
}

#footerHotkeys {
  background-color: pink;
  border-radius: 5px;
  padding: 5px;
  margin: 15px 10px 20px 10px;
}

footer hr {
  border: #9e637e solid 3px;
  margin: 0px -8px 0px -8px;
}

#footerHotkeys h3 {
  margin: 0px;
  padding: 10px;
  text-decoration: underline;
}

#footerHotkeys ul {
  margin: 0px 0px 5px 10px;
}

#footerAbout {
  padding: 0px 10px 10px 10px;
}

#footerAbout a {
  text-decoration: underline;
}
#footerAbout a:hover {
  color: #9e637e;
}