body {
  margin: 7px;
}

footer hr {
  opacity: 100%;
  margin: 0px -8px 12px -8px;
}

h1{
  font-size: 32px;
  margin: -1px 0px;
}

#tabsDivider {
  opacity: 100%;
  margin: -42px -8px 20px -8px;
}

nav {
  line-height: normal;
}