main {
  margin: 7px;
}

footer hr {
  opacity: 100%;
  margin: 0px -8px 12px -8px;
}

#tabsDivider {
  opacity: 100%;
  margin: -42px -8px 20px -8px;
}

#formWrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px 5px 0px 5px;
}